# Compiled class files
*.class

# Log files
*.log

# Package files
*.jar
!jackson-*.jar

# virtual machine crash logs
hs_err_pid*

# IDE-specific files
.idea/
.settings/
.classpath
.project
.vscode/

# OS-specific files
.DS_Store
Thumbs.db
